@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font import */
@font-face {
    font-family: 'Clear Sans';
    src: url('/fonts/clear-sans/ClearSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@keyframes spawn-scale {
    0% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide-cell {
  
}

.spawn-scale {
    animation: spawn-scale 0.2s ease-out;
}